#background1{
  background-color: gray;
}
.jumbotron{
  background-color: #DEB76E;
  text-align: center;
}
.col-md-5{
  background-color: #297B52;
}

#text1{
  color: cyan;
}
#text2{
  color: indigo;
}
.output-box{
  overflow:auto;
  box-shadow: 0 0 5px 5px cyan;
  width: 40%;
  height: 30vh;
  float: center;
}
.output-box li{
  list-style: none;
}
.output-box{
  padding: 20px;
  margin: inherit;

}
