#background1{
  background-color: cyan;
}
.jumbotron{
  background-color: #DEB76E;
  text-align: center;
}
.col-md-5{
  background-color: #297B52;
}

#text1{
  color: yellow;
}
#text2{
  color: white;
}
