#background1{
  background-color: #D1D7D4;
}
.jumbotron{
  background-color: #F4D9A6;
  text-align: center;
}
.col-md-5{
  background-color: #297B52;
}

#text1{
  color: yellow;
}
#text2{
  color: white;
}
